# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

# Flask instance folder
instance/

# Flask cache and logs
*.log
*.sqlite3

# Virtual environment
venv/
env/

# Pytest cache
.pytest_cache/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db